<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SonarAnalyzer.CSharp" version="8.32.0.39516" targetFramework="net472" developmentDependency="true" />
  <package id="StyleCop" version="6.2.0" targetFramework="net472" />
  <package id="StyleCop.CSharp" version="6.2.0" targetFramework="net472" />
  <package id="StyleCop.Error.MSBuild" version="1.0.0" targetFramework="net472" />
  <package id="StyleCop.MSBuild" version="6.2.0" targetFramework="net472" developmentDependency="true" />
</packages>